@media (max-width: 768px) {
    h1 {
        font-size: 1.6rem;
    }

    h2
    {
        font-size: 1.4rem;
    }

    h3
    {
        font-size: 1.3rem;
    }

    h4
    {
        font-size: 1.15rem;
    }
}