{% extends 'toast/fullpage.html' %}
{% block content %}
<h1>About &amp; Help</h1>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Instructions For Use</h5>
        <p class="card-text">Getting started? Check out the <a href="https://www.youtube.com/playlist?list=PLmKJFcnHH1OcfjUHZ2QFKPW2oWbN_rm03">Training Videos on YouTube</a>.</p>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Support</h5>
        <p class="card-text">For support, please contact <a href="mailto:contact-project+leegent-toast-api-12725174-issue-@incoming.gitlab.com">the support zebras</a>.</p>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Acknowledgements</h5>
        <p class="card-text">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>.</p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Contributing</h5>
        <p class="card-text"><a href="https://gitlab.com/leegent/toast-api">Please do!</a></p>
    </div>
</div>

{% endblock %}
