{% extends 'toast/fullpage.html' %}
{% load humanize %}
{% block content %}
    <h1>Admin Spring Clean</h1>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Event Cleanup</h2>
            <form action="{% url 'spring_clean' %}" method="POST">
                {% csrf_token %}
                <p class="text-danger">WARNING: THERE IS NO CONFIRMATION HERE BECAUSE I CAN'T BE ARSED TO WRITE IT</p>
                <input type="submit" class="btn btn-danger" value="Delete Events Prior to {{ horizon | naturalday }}..."/>
            </form>


            <div class="table-responsive">
                <table class="table table-striped table-hover table-responsive">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Host</th>
                        <th>City</th>
                        <th>
                            <div class="small">Tourney Game Day?</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}
                        <tr>
                            <td class="text-nowrap">{{ event.date|naturalday }}</td>
                            <td class="text-nowrap">{{ event.start_time|naturaltime }}</td>
                            <td class="text-nowrap">{{ event.friendly_name }}</td>
                            <td class="text-nowrap">{{ event.city }}</td>
                            <td>{% if event.is_tournament_game_day %}&checkmark;{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
