{% extends 'toast/fullpage.html' %}
{% load humanize %}
{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title alert alert-danger">⚠️ Overcommitted!</h5>
            <p>You have already made yourself Available for <strong>{{ event }}</strong>.</p>
            <p>You may not commit to being in two places at once.</p>
            <p>Sorry 😥</p>
            <p>
                <a href="javascript:window.history.back(-1)" class="card-link btn btn-outline-primary">Back</a>
                <a href="{% url 'show_event' event.pk %}" class="card-link btn btn-outline-primary">Go to event</a>
            </p>
        </div>
    </div>
{% endblock %}