{% extends 'toast/fullpage.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Create League</h2>
            <form action="{% url 'create_league' %}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ teams_form.management_form }}
                {{ teams_form.non_field_errors }}

                <div class="form-group">
                    {{ form.name.errors }}
                    {{ form.name.label_tag }}
                    {{ form.name|add_class:"form-control" }}
                </div>

                <div class="form-group">
                    {{ form.based_in_city.errors }}
                    {{ form.based_in_city.label_tag }}
                    {{ form.based_in_city|add_class:"form-control" }}
                </div>


            <h4>Teams</h4>
            <h4 class="subtitle">Leave the Tournament Division box blank if this team is not participating</h4>
                <table class="table table-responsive table-striped">
                    <tr>
                        <th>Team Name(s)</th>
                        <th>{{ TOAST_TOURNAMENT_NAME }} Division</th>
                        <th></th>
                    </tr>
                    {% for team_form in teams_form %}
                    <tr
                            {% if team_form.name.errors %} class="bg-warning" {% endif %}
                        >
                        <td>
                        {{ team_form.id }}
                        {{ team_form.name }}
                        </td>

                         <td>
                             {{  team_form.tournament_division.errors }}
                        {{ team_form.tournament_division }}
                        </td>
                        <td>
                        {{ team_form.name.errors }}
                        </td>

                    </tr>
                    {% endfor %}
                </table>
                <input type="submit" value="Save" class="btn btn-primary" />
                <a href="javascript:window.history.back(1)" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
