{% extends 'toast/fullpage.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Create event</h2>
            <form action="{% url 'create_event' %}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ games_form.management_form }}
                {{ games_form.non_field_errors }}

                <div class="form-group">
                    {{ form.name.errors }}
                    {{ form.name.label_tag }}
                    {{ form.name|add_class:"form-control" }}
                </div>

                <div class="form-group">
                    {{ form.host.errors }}
                    {{ form.host.label_tag }}
                    {{ form.host|add_class:"form-control" }}
                </div>

                <div class="form-group">
                    {{ form.date.errors }}
                    {{ form.date.label_tag }}
                    {{ form.date|add_class:"form-control" }}
                </div>

                <div class="form-group">
                    {{ form.is_tournament_game_day.errors }}
                    {{ form.is_tournament_game_day.label_tag }}
                    {{ form.is_tournament_game_day|add_class:"form-control" }}
                </div>

                <div class="form-group">
                    {{ form.start_time.errors }}
                    {{ form.start_time.label_tag }}
                    {{ form.start_time|add_class:"form-control" }}
                </div>

                <div class="form-group">
                    {{ form.city.errors }}
                    {{ form.city.label_tag }}
                    {{ form.city|add_class:"form-control" }}
                </div>

                <div class="form-group">
                    {{ form.address.errors }}
                    {{ form.address.label_tag }}
                    {{ form.address|add_class:"form-control" }}
                </div>

                <div class="form-group">
                    {{ form.schedule.errors }}
                    {{ form.schedule.label_tag }}
                    {{ form.schedule|add_class:"form-control" }}
                </div>

                <div class="form-group">
                    {{ form.facebook_event_url.errors }}
                    {{ form.facebook_event_url.label_tag }}
                    {{ form.facebook_event_url|add_class:"form-control" }}
                </div>

                <div class="form-group">
                    {{ form.officials_group_or_event_url.errors }}
                    {{ form.officials_group_or_event_url.label_tag }}
                    {{ form.officials_group_or_event_url|add_class:"form-control" }}
                </div>

                <div class="card">
        <div class="card-body">
            <h3 class="card-title">Games</h3>

                <div class="p-3 mb-2 bg-info text-white"><strong>Use the 'Generic'/challenge team(s) as placeholders if you don't know your opponent yet (or they haven't added themselves to the system).</strong></div>
                <div class="p-3 mb-2 bg-danger text-black"><strong>Remember to set the Game Type and Association - you might need to scroll to the right to see this.</strong></div>
                <table class="table table-responsive">
                <tr>
                    <th>Home Team</th>
                    <th>Away Team</th>
                    <th>Game Type</th>
                    <th>Association</th>
                </tr>
                    {% for game_form in games_form %}
                        <tr
                            {% if game_form.errors %} class="bg-warning" {% endif %}
                        >
                        <td>
                            {{ game_form.id }}
                            {{ game_form.home_team }}
                        </td>
                        <td>
                            {{ game_form.away_team }}
                        </td>
                        <td>{{ game_form.game_type }}</td>
                        <td>{{ game_form.association }}</td>
                        </tr>

                    {% endfor %}
                </table>
        </div>
                <input type="submit" value="Save" class="btn btn-primary" />
                <a href="javascript:window.history.back(1)" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
