{% extends 'toast/fullpage.html' %}
{% block content %}
    <h3>Delete your account, {{ user.first_name }}</h3>
    <h4>Really?</h4>
    <a class="btn btn-outline-primary" href="{% url 'index' %}">Not Really</a>
    <a class="btn btn-danger" href="{% url 'really_delete_account' %}">Yes Really</a>
{% endblock %}