{% extends 'toast/fullpage.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <h2>
        Edit {{ league.name }}
    </h2>
     <div class="card">
        <div class="card-body">
            <h3 class="card-title">League Details</h3>
        <form action="{% url 'league' league.pk %}" method="post">
                {% csrf_token %}
                {{ league_edit_form.non_field_errors }}
                {{ teams_edit_form.management_form }}
                {{ teams_edit_form.non_field_errors }}
            
             <div class="form-group">
                    {{ league_edit_form.name.errors }}
                    {{ league_edit_form.name.label_tag }}
                    {{ league_edit_form.name|add_class:"form-control" }}
                </div>

                <div class="form-group">
                    {{ league_edit_form.based_in_city.errors }}
                    {{ league_edit_form.based_in_city.label_tag }}
                    {{ league_edit_form.based_in_city|add_class:"form-control" }}
                </div>

                <h4>Teams</h4>
                <h4 class="subtitle">Leave the Tournament Division box blank if this team is not participating</h4>
                <table class="table table-responsive table-striped">
                    <tr>
                        <th>Team Name(s)</th>
                        <th>{{ TOAST_TOURNAMENT_NAME }} Division</th>
                        <th></th>
                        <th>Actions</th>
                    </tr>
                    {% for team_form in teams_edit_form %}
                    <tr
                            {% if team_form.name.errors %} class="bg-warning" {% endif %}
                        >
                        <td>
                        {{ team_form.id }}
                        {{ team_form.name }}
                        </td>
                    <td>
                        {{ team_form.tournament_division }}
                    </td>
                        <td >
                        {{ team_form.name.errors }}
                        </td>
                        
                        <td>
                            {% if team_form.instance.pk %}
                            <a class="btn btn-danger btn-sm" href="javascript: delete_team('{% url 'delete_team' league.pk team_form.instance.pk %}', {{ team_form.instance.games_count }}, {{ team_form.instance.future_games_count }});">Delete...</a>
                            {% endif %}
                        </td>
                        
                    </tr>
                    {% endfor %}
                </table>
            <input type="submit" value="Save" name="editform_submit" id="editform_submit"  class="btn btn-primary" />
        </form>
        
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Representatives</h3>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Rep</th>
                    <th>FB or Other Contact Details</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>

                {% for rep in league.representatives.all %}
                    <tr>
                        <td>{{ rep.display_name }}</td>
                        <td>{{ rep.facebook_profile }}</td>
                        <td><a class="btn btn-outline-danger btn-sm" href="javascript: sack_representative('{% url 'sack_rep' league.pk rep.pk %}');">Sack...</a></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <h4>Invite New Representative</h4>
            <h4 class="small">Please provide either e-mail address or display/derby name. The display name must exactly
                match the user you're looking for (aside from capitalisation).</h4>
            <form action="{% url 'league' league.pk %}" method="post">
                {% csrf_token %}
                {% if invite_new_rep_form.non_field_errors %}
                    <div class="text-danger">
                        {{ invite_new_rep_form.non_field_errors }}
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="{{ invite_new_rep_form.derby_name.id_for_label }}">TOaST Display Name/Derby Name</label>
                    <input type="text" class="form-control" id="{{ invite_new_rep_form.derby_name.id_for_label }}"
                           name="{{ invite_new_rep_form.derby_name.html_name }}"
                           placeholder="Enter TOaST Display Name/Derby Name" {% if  invite_new_rep_form.derby_name.value  %}value="{{ invite_new_rep_form.derby_name.value }}" {% endif %}>
                </div>
            {% if invite_new_rep_form.derby_name.errors %}
                    <div class="text-danger">
                {{ invite_new_rep_form.derby_name.errors }}
                    </div>
            {% endif %}

                <div class="form-group">
                    <label for="{{ invite_new_rep_form.email.id_for_label }}">E-mail address</label>
                    <input type="email" class="form-control" id="{{ invite_new_rep_form.email.id_for_label }}"
                           name="{{ invite_new_rep_form.email.html_name }}"
                           aria-describedby="emailHelp" placeholder="Enter email address" {% if  invite_new_rep_form.email.value  %} value="{{ invite_new_rep_form.email.value }}" {% endif %}>
                </div>
                    {% if invite_new_rep_form.email.errors %}
                    <div class="text-danger">
                {{ invite_new_rep_form.email.errors }}
                    </div>
            {% endif %}
                <input type="submit" class="btn btn-primary" name="invite_rep_form_submit" id="invite_rep_form_submit"  value="Invite...">

            </form>
        </div>
    </div>
{% endblock %}

{% block postscripts %}
<script type="text/javascript">
function sack_representative(url) {
    bootbox.confirm("Are you sure?", function(result) {
        if (!result) return;
        fetch(url, {credentials: "include"}).then((response) => {
            if (!response.ok) {
                response.text().then((data) => {
                    alert(data);
                });

            }
            else {
                window.location.reload();
            }
        });
    });
}

function delete_team(url, total_games_count, future_games_count) {
    bootbox.confirm("Are you sure? This could delete a large amount of data, including " + total_games_count + " Games, " + future_games_count + " of which are scheduled, upcoming Game(s) for this team.", function(result) {
        if (!result) return;
        fetch(url, {credentials: "include"}).then((response) => {
            if (!response.ok) {
                response.text().then((data) => {
                    alert(data);
                });

            } else {
                response.json().then((payload) => {
                    alert("Deleted Team and " + payload.games_deleted + " games!");
                    window.location.reload();
                });

            }
        });
    });
}
</script>
{% endblock %}