<div class="btn-group btn-group-sm">

    {% for open_role in event.open_roles.all %}
        <button type="button" class="btn btn-outline-success" disabled>{{ open_role.name }}</button>
    {% empty %}
        <button type="button" class="btn btn-info" disabled>Crew Closed</button>
    {% endfor %}
</div>
