{% extends 'toast/fullpage.html' %}
{% load humanize %}
{% block content %}
    <h1>{{ TOAST_NAME }}</h1>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Host</th>
                            <th>City</th>
                            <th><div class="small">{{ TOAST_TOURNAMENT_NAME }} Game Day?</div></th>
                            <th>Division(s)</th>
                            <th>Games</th>
                            <th width="1%">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>                
                        {% for event, avail in event_to_avail.items %}
                            <tr>
                                <td class="text-nowrap">{{ event.date|naturalday }}</td>
                                <td class="text-nowrap">{{ event.start_time|naturaltime }}</td>
                                <td>{{ event.friendly_name }} {% if event.host in my_rep_teams %}<span class="badge badge-secondary">Rep</span>{% endif %}
                                <td>
                                    {{ event.city }}
                                </td>
                                <td>{% if event.is_tournament_game_day %}&checkmark;{% endif %}</td>
                                <td>
                                {% if event.is_tournament_game_day %}
                                {% for participating_div in event.participants_divisions_query.all %}
                                    <span class="badge badge-info badge-pill">{{ participating_div }}</span> {% if participating_div in my_administered_divisions  %}<span class="badge badge-secondary">Head</span>{% endif %}
                                {% endfor %}
                                {% else %}
                                    &nbsp;
                                {% endif %}
                                </td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for game in event.game_set.all %}
                                            <li>
                                                {{ game.home_team.name }} {% if game.home_team in my_rep_teams %}<span class="badge badge-secondary">Rep</span>{% endif %}
                                                vs {{ game.away_team.name }} {% if game.away_team in my_rep_teams %}<span class="badge badge-secondary">Rep</span>{% endif %}<br />
                                                <span class="badge badge-info">{{ game.game_type.name }}</span>
                                                <span class="badge badge-info">{{ game.association.name }}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    <div class="btn-group-vertical btn-group-sm">
                                        <a href="{% url 'show_event' event.pk %}" class="btn btn-secondary">Information</a>

                                    {% for role in avail.roles.all %}
                                        <button type="button" class="btn btn-warning" disabled>Available as {{ role.name }}</button>
                                    {% endfor %}

                                    {% for open_role in event.open_roles.all %}
                                        <button type="button" class="btn btn-outline-success" disabled>{{ open_role.name }} Open</button>
                                        {% empty %}
                                            <button type="button" class="btn btn-info" disabled>Crew Closed</button>
                                        {% endfor %}
                                        <a href="{% url 'edit_availability' event.id %}" class="btn btn-primary text-nowrap">Edit Availability</a>
                                    </div>

                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>            
        </div>
    </div>    
{% endblock %}
