{% extends 'toast/fullpage.html' %}
{% load humanize %}
{% load event_extras %}
{% load static %}
{% block title %}TOaST | {{ event_title }}{% endblock %}
{% block content %}
<h2>
    {{ event_title }}
    {% if i_am_an_admin %}
        <a class="btn btn-outline-secondary btn-sm float-right" href="{% url 'edit_event' event.pk %}">Edit Event</a>
    {% endif %}
</h2>

<ul class="nav nav-tabs" id="tabs" role="tablist">
  <li class="nav-item">
    <a id="details-tab" data-toggle="tab" role="tab" class="nav-link active" href="#details">Info</a>
  </li>
  <li class="nav-item">
    <a id="games-tab" data-toggle="tab" role="tab" class="nav-link" href="#games">Games</a>
  </li>

  {% if i_am_in_charge %}
  <li class="nav-item">
    <a id="officials-tab" data-toggle="tab" role="tab" class="nav-link" href="#officials">Officials</a>
  </li>

      {% if event.crew_is_fully_locked %}
    <li class="nav-item">
    <a id="rejected-officials-tab" data-toggle="tab" role="tab" class="nav-link" href="#rejected-officials">Rejected Officials</a>
  </li>
          {% endif %}


{% endif %}

{% if my_teams_nominees %}
    <li class="nav-item">
    <a id="nominees-tab" data-toggle="tab" role="tab" class="nav-link" href="#nominees">Your League's Nominees</a>
  </li>
{% endif %}

</ul>

<div class="tab-content" id="tabcontent">
    <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
        <div class="table-responsive mt-3">
                        <table class="table table-condensed">
                            {%  if event.name %}
                            <tr>
                                <th>Event Name</th>
                                <td>{{ event.name }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th>Date</th>
                                <td class="w-100">{{ event.date|naturalday }} &mdash; {{ event.start_time|naturaltime }}</td>
                            </tr>

                            <tr>
                                <th>Host</th>
                                <td>{{ event.host.name }}</td>
                            </tr>
                            <tr>
                                <th>City</th>
                                <td>
                                    {{ event.city }}
                                </td>
                            </tr>
                        {% if event.is_tournament_game_day %}
                            <tr>
                                <th>Officials Nominations Due</th>
                                <td>{{ event.noms_due_on|naturalday }}

                                    {% include 'toast/inc_noms_due_in_badge.html' with days=event.noms_due_in_days %}
                                </td>
                            </tr>
                        {% endif %}
                            <tr>
                                <th>Address</th>
                                <td>{{ event.address }}
                                    {% if event.address %}
                                        <a href="https://maps.google.com/?q={{ event.address }}" target="_blank" class="btn btn-outline-secondary btn-sm ml-2">Map</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Timings</th>
                                <td>
                                    <pre>{{event.schedule}}</pre>
                                </td>
                            </tr>
                            <tr>
                                <th>Facebook Links</th>
                                <td>
                                    {% if event.facebook_event_url %}<a href={{ event.facebook_event_url }} target="_blank" class="btn btn-outline-secondary btn-sm">Public Event</a>{% endif %}
                                    {% if event.officials_group_or_event_url %}<a href={{ event.officials_group_or_event_url }} target="_blank" class="btn btn-outline-secondary btn-sm">Officials Group</a>{% endif %}
                                </td>
                            </tr>

                            <tr>
                                <th class="text-nowrap">Host Representatives</th>
                                <td>
                                    {% for person in event.host.representatives.all %}
                                        <div>{{ person.display_name }}</div>
                                    {% endfor %}
                                </td>
                            </tr>

                            {% if event.is_tournament_game_day %}
                            <tr>
                                <th>Host League's Teams {{ TOAST_TOURNAMENT_NAME }} Division(s)</th>
                                <td>
                                {% for participating_div in event.host_participating_divisions_query.all %}
                                    <span class="badge badge-info">{{ participating_div }}</span> {% if participating_div in user.person.admin_of_divisions.all  %}<span class="badge badge-secondary">Head</span>{% endif %}
                                {% endfor %}

                                </td>
                            </tr>
                            <tr>
                                <th>Participating Teams {{ TOAST_TOURNAMENT_NAME }} Division(s)</th>
                                <td>
                                {% for participating_div in event.participants_divisions_query.all %}
                                    <span class="badge badge-info">{{ participating_div }}</span> {% if participating_div in user.person.admin_of_divisions.all  %}<span class="badge badge-secondary">Head</span>{% endif %}
                                {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Participating Teams {{ TOAST_TOURNAMENT_NAME }} Division Heads</th>
                                <td>
                                    {% regroup event.tournament_division_head_query.all|dictsort:"user.is_staff" by user.is_staff as head_list %}
                                    {% for person in event.tournament_division_head_query.all %}
                                        
                                            <div>
                                            
                                                {{ person.display_name }}
                                            {% for div in person.admin_of_divisions.all %}
                                                <span class="badge badge-pill badge-primary">{{ div }}</span>
                                                {% endfor %}
                                                {% if person.user.is_staff %}
                                                    <span class="badge badge-pill badge-secondary">TOaST Admin</span>
                                                    
                                                {% endif %}
                                            </div>
                                     
                                    {% endfor %}
                                </td>
                            </tr>
                        <tr>
                                <th>{{ TOAST_TOURNAMENT_NAME }} Tournament Head Officials</th>
                                <td>
                                    {% for tho in tournament_heads %}
                                    <div>{{ tho.display_name }}</div>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                            <tr>
                                <th>Your Availability</th>
                                <td>
                                    {% if my_avail %}
                                        <div class="mb-2">
                                            {% include 'toast/inc_avail_roles_and_prefs.html' with avail=my_avail %}
                                        </div>
                                    {% endif %}
                                    {% if event.crew_is_fully_locked %}
                                        <span class="badge badge-warning">Crew Closed</span>
                                    {% else %}
                                    <a class="btn btn-primary" href="{% url 'edit_availability' event.id %}">Edit Your Availability</a>
                                    {% if my_avail %}
                                        <a class="btn btn-danger" href="{% url 'del_availability' my_avail.pk %}">Remove Your Availability</a>
                                    {% endif %}
                                {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
    </div>

     <div class="tab-pane fade" id="games" role="tabpanel" aria-labelledby="games-tab">
        <div class="table-responsive mt-3">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Home Team</th>
                                        <th>Away Team</th>
                                        <th>Association</th>
                                        <th>Game Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for game in event.game_set.all %}
                                        <tr>
                                            <td>{{ game.home_team.name }} {% if event.is_tournament_game_day %}{% if game.home_team.tournament_division %}<span class="badge badge-info">{{ game.home_team.tournament_division }}</span><span class="badge badge-pill badge-secondary">{{ game.home_team_nom_count }} nom(s)</span>{% endif %}{% endif %}</td>
                                            <td>{{ game.away_team.name }} {% if event.is_tournament_game_day %}{% if game.away_team.tournament_division %}<span class="badge badge-info">{{ game.away_team.tournament_division }}</span><span class="badge badge-pill badge-secondary">{{ game.away_team_nom_count }} nom(s)</span>{% endif %}{% endif %}</td>
                                            <td>{{ game.association }}</td>
                                            <td>{{ game.game_type }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
     </div>

{% if i_am_in_charge %}
    <div class="tab-pane fade" id="officials" role="tabpanel" aria-labelledby="officials-tab">

    <div class="mt-3">

      <div class="btn-group btn-group-sm" role="group">

                    {% if not event.crew_is_fully_locked %}
                        <button id="btnGroupDrop1" type="button" class="btn btn-outline-danger dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Lock in Crew &amp; Send Mail
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            {% for open_role in event.open_roles.all %}
                                <a class="dropdown-item" href="javascript: lock_in_crew_and_email('{% url 'lock_in_crew_role_and_email' event.pk open_role.pk %}');">{{ open_role }} Role</a>
                            {% endfor %}
                        </div>

                        <button id="btnGroupDrop2" type="button" class="btn btn-outline-danger dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Lock in Crew
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                            {% for open_role in event.open_roles.all %}
                                <a class="dropdown-item" href="javascript: lock_in_crew('{% url 'lock_in_crew_role' event.pk open_role.pk %}');">{{ open_role }} Role</a>
                            {% endfor %}
                        </div>

                        {% endif %}
                    {% for open_role in event.open_roles.all %}
                        <button type="button" class="btn btn-outline-success" disabled>{{ open_role.name }} Open</button>
                    {% empty %}
                        <button type="button" class="btn btn-outline-info" disabled>No Open Roles (Crew Locked)</button>
                    {% endfor %}
                    <a class="btn btn-outline-primary" href="{% url 'export_event_to_csv' event.pk %}" download="officials-for-{{ event.pk }}.csv" target="_blank">Export To CSV</a>
                </div>


  </div>


        <div class="table-responsive mt-3">
            <table class="table table-condensed table-striped text-sm table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th width="1%">Affiliation</th>
                        <th>Contact</th>
                        <th>History</th>
                        {% if event.is_tournament_game_day %}<th>Nominating League</th>{% endif %}
                        <th>Submitted Note</th>
                        <th width="1%">Roles</th>
                        <th width="1%">Preferences</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for avail in all_avails %}
                        <tr id="{{ avail.pk }}" class="js-official">
                            <td>
                                {{ avail.person.display_name }}
                                {% if avail.person.pronouns %}
                                <small class="d-block">
                                    <span class="badge badge-secondary">{{ avail.person.pronouns }}</span>
                                </small>
                                {% endif %}
                            </td>
                            <td>{{ avail.person.affiliation }}</td>
                            <td>
                                {{ avail.person.facebook_profile | render_contact_method }}
                            </td>
                            <td>
                                {% if avail.person.games_history_link and avail.person.games_history_link %}
                                <a href="{{ avail.person.games_history_link }}" class="btn btn-sm btn-outline-secondary" target="_blank" role="button">View</a></td>
                                {% endif %}
                            {% if event.is_tournament_game_day %}
                                <td>
                                    <a href="{% url 'edit_availability_nomination' avail.pk %}" class="btn btn-sm btn-outline-secondary" role="button">
                                    {{ avail.nominating_league | default:"None" }}
                                    </a>
                                </td>
                            {% endif %}
                            <td><p><small>{{ avail.notes }}</small></p></td>
                            <td>{% include 'toast/inc_avail_roles.html' %}</td>
                            <td>{% include 'toast/inc_avail_prefs.html' %}</td>
                            <td class="js-roster-buttons">
                                <div class="btn-group-vertical" role="group" aria-label="Roster As Role">
                                {% if i_am_an_admin %}
                                    <button type="button"
                                            class="btn btn-outline-info btn-block js-roster-button js-roster-button--head"
                                            data-demoteurl="{% url 'remove_crew_head' event.id avail.person.id %}"
                                            data-promoteurl="{% url 'make_crew_head' event.id avail.person.id %}"
                                            {% if avail.person in event.crew_heads.all %}
                                            data-ishead="true"
                                            {% else %}
                                            data-ishead="false"
                                            {% endif %}
                                    >Crew Head</button>
                                {% endif %}
                                {% if i_am_in_charge %}
                                    {% for role in roles %}
                                        <button type="button"
                                                class="btn btn-block js-roster-button js-roster-button--enroster"
                                                data-encrewurl="{% url 'select_official' avail.pk role.pk %}"
                                              {% if avail.selected_for_crew_role == role %}
                                                data-iscrewed="true"
                                              {% else %}
                                                data-iscrewed="false"
                                              {% endif %}

                                                {% if role in locked_roles.all %}
                                        disabled
                                        {% endif %}
                                        >{{ role.name }}</button>
                                    {% endfor %}
                                    {% if not event.crew_is_fully_locked %}
                                    <button type="button"
                                                class="btn btn-block btn-warning js-roster-button js-roster-button--unselect "
                                                data-decrewurl="{% url 'unselect_official' avail.pk %}"
                                        >Deselect</button>
                                        {% endif %}

                                </div>
                                {% endif %}

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% if event.crew_is_fully_locked %}
    <div class="tab-pane fade" id="rejected-officials" role="tabpanel" aria-labelledby="rejected-officials-tab">
        <div class="table-responsive mt-3">
            <table class="table table-condensed table-striped text-sm table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th width="1%">Affiliation</th>
                        <th>Contact</th>
                        <th>History</th>
                        {% if event.is_tournament_game_day %}<th>Nominating League</th>{% endif %}
                        <th>Submitted Note</th>
                        <th width="1%">Roles</th>
                        <th width="1%">Preferences</th>
                    </tr>
                </thead>
                <tbody>
                    {% for avail in rejected_avails %}
                        <tr id="{{ avail.pk }}" class="js-official">
                            <td>
                                {{ avail.person.display_name }}
                                {% if avail.person.pronouns %}
                                <small class="d-block">
                                    <span class="badge badge-secondary">{{ avail.person.pronouns }}</span>
                                </small>
                                {% endif %}
                            </td>
                            <td>{{ avail.person.affiliation }}</td>
                            <td>
                                {{ avail.person.facebook_profile | render_contact_method }}
                            </td>
                            <td>
                                {% if avail.person.games_history_link and avail.person.games_history_link %}
                                <a href="{{ avail.person.games_history_link }}" class="btn btn-sm btn-outline-secondary" target="_blank" role="button">View</a></td>
                                {% endif %}
                            {% if event.is_tournament_game_day %}
                                <td>
                                    <a href="{% url 'edit_availability_nomination' avail.pk %}" class="btn btn-sm btn-outline-secondary" role="button">
                                    {{ avail.nominating_league | default:"None" }}
                                    </a>
                                </td>
                            {% endif %}
                            <td><p><small>{{ avail.notes }}</small></p></td>
                            <td>{% include 'toast/inc_avail_roles.html' %}</td>
                            <td>{% include 'toast/inc_avail_prefs.html' %}</td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
    
{% endif %}

    {% if my_teams_nominees %}
  <div class="tab-pane fade" id="nominees" role="tabpanel" aria-labelledby="nominees-tab">
        <div class="table-responsive">
                <table class="table table-condensed table-striped text-sm">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Affiliation</th>
                            <th>Nominating League</th>
                            <th>Pronouns</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for avail in my_teams_nominees %}
                            <tr>
                                <td>{{ avail.person.display_name }}</td>
                                <td>{{ avail.person.affiliation }}</td>
                                <td>{{ avail.nominating_league }}</td>
                                <td>{{ avail.person.pronouns }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
  </div>
    {% endif %}


{% endblock %}

{% block postscripts %}
<script type="text/javascript" src="{% static 'js/rostering.js' %}"></script>
<script type="text/javascript">
function lock_in_crew_and_email(url) {
    bootbox.confirm("This will send an e-mail to ALL officials selected for this Role and cannot be undone. If all roles are locked, anyone not rostered will be removed. Are you sure?", function(result) {
        if (!result) return;
        fetch(url, {credentials: "include"}).then((response) => {
            if (!response.ok) {
                response.text().then((data) => {
                    alert(data);
                });

            }
            else {
                window.location.reload();
            }
        });
    });
}

function lock_in_crew(url) {
    bootbox.confirm("This will prevent new Availabilities for this Role and cannot be undone. If all roles are locked, anyone not rostered will be removed. Are you sure?", function(result) {
        if (!result) return;
        fetch(url, {credentials: "include"}).then((response) => {
            if (!response.ok) {
                response.text().then((data) => {
                    alert(data);
                });
            }
            else {
                window.location.reload();
            }        });
    });
}
</script>
{% endblock %}
