{% extends 'toast/fullpage.html' %}
{% load humanize %}
{% block content %}
    <div class="card">
        <div class="card-body">
        <h2 class="card-title">{{ TOAST_NAME }} League Representatives</h2>
                <table class="table table-striped table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>League</th>
                            <th>Rep</th>
                            <th>FB or Contact</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for league in leagues %}
                    {% for rep in league.representatives.all %}
                    <tr>
                        <td>{{ league.name }}</td>
                        <td>{{ rep.display_name }}</td>
                        <td>{{ rep.facebook_profile }}</td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
{% endblock %}
